/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.grid {
  margin-top: 5rem;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.checkout-page {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
.box {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.box__heading {
  display: flex;
  padding: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 1px solid black;
  align-items: center;
}
.box__heading span {
  margin-right: 1rem;
  font-size: 2.1rem;
  border-radius: 50%;
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 3.2rem;
}
.box__heading h2 {
  font-size: 2.2rem;
}

/* cart and totals */
.cart-container {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  width: 30%;
  margin-right: 2rem;
}
.cart {
  max-height: 42rem;
  overflow-y: auto;
  padding: 2rem 2rem 0;
}
.cart__item {
  overflow: hidden;
  display: table;
}
.cart__item:not(:last-child) {
  border-bottom: 0.1rem solid black;
}
.cart__item:not(:first-child) {
  padding-top: 1.5rem;
}
.cart__item > * {
  padding-bottom: 1.5rem;
  vertical-align: middle;
  display: table-cell;
}
.item__detail > *:not(:first-child) {
  margin-top: 1rem;
}
.item__image img {
  margin-right: 1.5rem;
  width: 17rem;
}
.item__detail {
  font-size: 1.3rem;
}
.item__detail .fa-times {
  font-size: 2rem;
  float: right;
}
.item__detail .fa-times:hover {
  cursor: pointer;
}
.detail__product-options {
  margin-bottom: 1rem;
}
.detail__product-options > * {
  display: inline-block;
}
.detail__product-options .RAM {
  margin-right: 1rem;
}
.detail__quantity input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 4rem;
  height: 2.8rem;
}
.detail__quantity button {
  border: 1px solid black;
  background-color: white;
  height: 2.8rem;
  width: 2.8rem;
  transition: all 0.15s ease-in;
}
.detail__quantity button:disabled {
  cursor: not-allowed;
  border-color: rgba(0, 0, 0, 0.19);
  color: rgba(0, 0, 0, 0.19);
}
.detail__quantity button:not(:disabled):hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.detail__quantity button:not(:disabled):active {
  background-color: rgba(0, 0, 0, 0.7);
}
/* order summary */
.order,
.total {
  padding: 1.75rem;
  border-top: 1px solid black;
}
.total .order__summary {
  font-size: 2rem;
}
.order__summary {
  display: flex;
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
}
/* Delivery  */
.delivery-info {
  flex: 1 1 auto;
}
.user-information {
  margin: 6rem 0;
  font-size: 1.7rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-information form {
  position: relative;
  width: 65%;
}
.user-information .form-group {
  position: relative;
  margin-top: 3rem;
}
.invalid-input {
  color: red;
}
.form-group label {
  opacity: 0.6;
  margin: 0 1.5rem;
  padding: 0 1rem;
  width: auto;
  font-size: 1.7rem;
  line-height: 1.5625;
  background: #fff;
  position: absolute;
  top: 1.5rem;
  left: 0;
  display: inline-block;
  cursor: text;
  transition: all 200ms ease-in;
}
.form-group input {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  height: 5.5rem;
  width: 100%;
  padding: 0rem 1.25rem;
}
.form-group input:not(:disabled):hover {
  border: 0.2rem solid black;
}
.form-group input:disabled {
  background-color: white;
}
.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown):not(:focus) ~ label {
  top: -1.2rem;
  font-size: 1.55rem;
  opacity: 1;
}
.confirm-btn {
  position: relative;
  font-weight: bold;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  background-color: black;
  color: white;
  margin: 3.2rem 0 0 0;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  z-index: 1;
}
.cancel-btn {
  /* overflow: hidden; */
  position: relative;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0.8rem;
  cursor: pointer;
  background-color: white;
  color: black;
  margin: 3.2rem 0 0 0;
  font-size: 1.8rem;
  padding: 0.8rem 1.8rem;
  z-index: 1;
}
.user-information button {
  left: 37%;
}
.confirm-btn:after {
  border: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  border-radius: 0.8rem;
  cursor: pointer;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-color: rgba(255, 255, 255, 0.2);
  transition: transform 0.25s, visibility 0.25s ease-in;
  transform: scaleX(0);
  transform-origin: top;
}
.cancel-btn:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  border-radius: 0.6rem;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.25s, visibility 0.25s ease-in;
  transform: scaleX(0);
  transform-origin: top;
}
.confirm-btn:hover:after,
.cancel-btn:hover:after {
  transform: scaleX(1);
}

/* empty cart and error screens*/
.error,
.empty-cart {
  position: relative;
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error .fal {
  font-size: 20rem;
}
.error .fas {
  position: absolute;
  top: 4rem;
  right: 50%;
  transform: translate(75%, 0);
  font-size: 6rem;
}
.error__title {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.4rem;
}
.error__subtitle,
.error__button {
  font-weight: normal;
  font-size: 1.8rem;
}
.empty-cart {
  height: 50rem;
}
.empty-cart .fa-shopping-cart {
  font-size: 15rem;
}
.empty-cart .fa-sad-tear {
  position: absolute;
  top: 27.5%;
  transform: translate(25%, 0);
  font-size: 4.5rem;
}
/* remove confirmation modal*/
.remove-modal {
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal-container {
  position: relative;
  min-height: 20rem;
  border-radius: 2rem;
  background-color: white;
  width: 40rem;
}
.modal__content {
  font-weight: bold;
  text-align: center;
  margin-top: 6rem;
  font-size: 2.5rem;
}
.modal__footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.modal__button--cancel {
  margin-left: 0.8rem;
}
