.active {
	border: 1px solid #ff0000 !important;
}
.active:after {
	content: "";
	width: 15px;
	height: 10px;
	border-radius: 1rem 0 0.5rem 0;
	background: #d70018;
	background-image: url(/image/iphone/checkmark.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	color: #ffffff;
	position: absolute;
	top: -1px;
	left: -1px;
}

.disabled {
	/*	border: rgba(0, 0, 0, 0.3) !important; */

	border: 1px solid #ccc !important;
	opacity: 0.6;
}
.disabled:hover {
	cursor: default !important;
}

.br-gray {
	background-color: rgba(0, 0, 0, 0.1) !important;
}
.open {
	display: flex !important;
}
.close {
	display: none !important;
}
.path {
	box-shadow: 0 0 1.2rem rgb(0 0 0 / 40%);
	font-size: 1.4rem;
	padding: 0.8rem 0 0.8rem 20rem;
}
.path li {
	display: inline-block;
	margin-right: 1rem;
	color: rgba(0, 0, 0, 0.5);
}
.path-icon-home {
	margin-right: 0.5rem;
}
.path-icon-next {
	font-size: 1rem;
}
.path a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
}
.item-name {
	height: 5rem;
	padding: 1.6rem 0 1.6rem 20rem;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.detailItem-main-container {
	box-shadow: 0 4px 5px -2px #ccc;
	padding-bottom: 4rem;
}
.detailIitem-main,
.detailItem-sub {
	max-width: calc(100% - 400px);
	margin: 40px auto 0 auto;
}
.detailItem-img .big-img-container {
	padding: 2rem 2rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
	border-radius: 1rem;
}
.detailItem-img .big-img {
	height: 100%;
	width: calc(100% - 40px);
	display: block;
	margin: 0 auto;
	object-fit: cover;
}

.detailItem-container .swiper-container {
	position: relative;
}

.detailItem-container .swiper-container {
	background: #fff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.detailItem-container .swiper {
	width: 100%;
	height: 100%;
}

.detailItem-container .swiper-slide {
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.detailItem-container .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
}

.detailItem-container .swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.detailItem-container .swiper-slide {
	background-size: cover;
	background-position: center;
}

.detailItem-container .mySwiper2 {
	padding: 2rem 2rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
	border-radius: 1rem;
	position: relative;
}
.detailItem-container .mySwiper2:hover .swiper-icon-next,
.mySwiper2:hover .swiper-icon-prev {
	display: block;
}

.detailItem-container .mySwiper {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.detailItem-container .mySwiper .swiper-slide {
	width: 25%;
	height: 7.5rem;
	border: 1px solid #ccc;
	border-radius: 1rem;
	padding: 0.5rem 0.5rem;
}

.detailItem-container .swiper-button-next i {
	color: red;
}
.detailItem-container .swiper-icon-next {
	position: absolute;
	top: 40%;
	z-index: 2;
	right: -2.8rem;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 2rem 3rem 2rem 1rem;
	border-radius: 50%;
	display: none;
	transition: transform ease 1s;
	animation: nextIcon ease-in 0.25s;
}

.detailItem-container .swiper-icon-prev {
	position: absolute;
	top: 40%;
	z-index: 2;
	left: -2.8rem;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 2rem 1rem 2rem 3rem;
	border-radius: 50%;
	display: none;
	transition: transform ease 1s;
	animation: preIcon ease-in 0.25s;
}
.detailItem-container .swiper-icon-next i,
.swiper-icon-prev i {
	font-weight: 700;
	color: #fff;
}
.detailItem-container .swiper-icon-next:hover,
.detailItem-container .swiper-icon-prev:hover {
	cursor: pointer;
}
.detailItem-container .mySwiper .swiper-slide-thumb-active {
	border: 1px solid #ff0000;
}
.detailItem-container .mySwiper .detailItem-container .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.mySwiper2 .swiper-button-disabled,
.mySwiper3 .swiper-button-disabled {
	opacity: 0.5;
	cursor: default !important;
	transform: scale(50%);
}
.detailItem-option {
	font-size: 1.8rem;
	padding-left: 2rem;
}
.detailItem-option .price-container {
	margin-bottom: 2rem;
}
.detailItem-option .new-price {
	font-weight: bold;
	color: #d70018;
}
.detailItem-option .old-price {
	text-decoration: line-through;
	margin-left: 10px;
}

.detailItem-option .capacity-option {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1rem;
	row-gap: 1rem;
}
.detailItem-option .capacity-option li {
	list-style-type: none;
	text-align: center;
	display: block;
}
.detailItem-option .capacity-option .capacity-option-item {
	display: block;
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	padding: 12px;
	font-size: 1.2rem;
	border-radius: 1rem;
	max-height: 5rem;
	position: relative;
}
.detailItem-option .capacity-option .capacity-option-detail {
	font-weight: bold;
}
.detailItem-option .color-option {
	margin-top: 2rem;
}
.detailItem-option .color-option li {
	list-style-type: none;
}
.detailItem-option .color-detail {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1rem;
	row-gap: 1rem;
}
.detailItem-option .color-detail .color-detail-item {
	border: 1px solid #000;
	padding: 1rem 0;
	max-height: 5rem;
	border-radius: 1rem;
	position: relative;
}
.detailItem-option .color-detail .color-detail-item:hover {
	cursor: pointer;
}
.detailItem-option .color-option .color-detail-item-img {
	width: 26px;
	height: 26px;
}
.detailItem-option .color-option .color-detail-item p {
	flex: 0 0 75%;
	max-width: 75%;
	font-size: 1.2rem;
}
.detailItem-option .color-option .color-detail-item-price {
	display: block;
}
.detailItem-option .buy-button {
	text-align: center;
	width: calc(100% - 1rem);
	display: block;
	height: 5rem;
	line-height: 5rem;
	font-size: 18px;
	color: #fff;
	border-radius: 20px;
	background-color: #000;
	font-weight: bold;
	margin-top: 2rem;
	border: none;
	transition: transform ease 0.2s;
}
.detailItem-option .buy-button:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	cursor: pointer;
	transform: scale(102%);
}
.detailItem-about {
	padding-left: 1rem;
}
.detailItem-about-container {
	border: 1px solid #ccc;
	padding-left: 1rem;
	padding-bottom: 1rem;
	font-size: 1.4rem;
	border-radius: 2rem;
}
.detailItem-about-item {
	list-style-type: none;
	display: flex;
	margin-top: 10px;
}
.detailItem-about .detailItem-about-icon {
	flex: 0 0 5%;
	max-width: 10%;
	font-size: 2rem;
	margin-right: 10px;
}
.detailItem-sub .same-item-title {
	font-size: 18px;
	font-weight: bold;
}
.detailItem-about .detailItem-about-des {
	flex: 0 0 90%;
	max-width: 90%;
	text-align: justify;
}
.detailItem-sub .mySwiper3 {
	height: 300px;
}
.detailItem-sub .mySwiper3 .swiper-slide {
	padding: 1rem 0.5rem;
	display: block;
}

.detailItem-sub .mySwiper3 .slide-item-info {
	padding-left: 1rem;
	margin-top: 2rem;
}
.detailItem-sub .mySwiper3 .slide-item-info p {
	margin-top: 2rem;
	font-size: 1.4rem;
}
.detailItem-sub .swiper3-item-newPrice {
	color: red;
}
.detailItem-sub .swiper3-item-oldPrice {
	text-decoration: line-through;
}
.detailItem-sub .mySwiper3 .swiper-slide .sameItemImg {
	display: block;
	padding-top: 2rem;
}
.detailItem-sub .mySwiper3 .swiper3-item-name {
	color: #000;
	font-weight: bold;
}
.detailItem-sub .swiper3-slide-item {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	text-align: none;
	transition: transform ease 0.2s;
}
.swiper3-slide-item:hover {
	transform: scale(102%);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.detailItem-sub .mySwiper3 img {
	width: 80%;
	margin: 0 auto;
	height: 80%;
}
.detailItem-sub .mySwiper3:hover .same-swiper-icon-next {
	display: block;
}
.detailItem-sub .mySwiper3:hover .same-swiper-icon-prev {
	display: block;
}
.detailItem-sub .same-item {
	display: relative;
}
.detailItem-sub .mySwiper3 .same-swiper-icon-prev {
	position: absolute;
	top: 14rem;
	left: 5px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1.5rem 1.5rem;
	border-radius: 50%;
	display: none;
	transition: transform ease 1s;
	animation: navSameSide ease 0.5s;
}
.detailItem-sub .mySwiper3 .same-swiper-icon-next {
	position: absolute;
	top: 14rem;
	right: 5px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1.5rem 1.5rem;
	border-radius: 50%;
	display: none;
	transition: transform ease 1s;
	animation: navSameSide ease 0.5s;
}
.detailItem-sub .mySwiper3 .same-swiper-icon-prev i,
.detailItem-sub .mySwiper3 .same-swiper-icon-next i {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 200;
}
.detailItem-sub .mySwiper3 .same-swiper-icon-prev:hover,
.detailItem-sub .mySwiper3 .same-swiper-icon-next:hover {
	cursor: pointer;
}
.detailItem-sub .rate-technicalInfo {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 2rem;
}
.detailItem-about .rate-technicalInfo .rate {
	height: 80rem;
}
.detailItem-about .technicalInfo {
	font-size: 1.4rem;
	box-shadow: rgb(60 64 67 / 10%) 0px 0px 2px 0px,
		rgb(60 64 67 / 15%) 0px 0px 6px 2px;

	padding: 1rem 1rem;
	border-radius: 2rem;
	display: inline-block;
	flex-grow: 0;
	overflow: hidden;
}
.detailItem-about .technicalInfo .TechnicalInfo-title {
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 1rem;
}
.detailItem-about .technicalInfo .technicalInfo-list {
	border-radius: 1rem;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.detailItem-about .technicalInfo .technicalInfo-item,
.modal-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 2rem;
	padding: 1rem 1rem;
}
.detailItem-about .technicalInfo .technicalInfo-btn {
	width: 100%;
	border-radius: 1rem;
	font-size: 1.8rem;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: rgb(60 64 67 / 10%) 0px 0px 2px 0px,
		rgb(60 64 67 / 15%) 0px 0px 6px 2px;
	margin-top: 2rem;
}
.detailItem-about .technicalInfo .technicalInfo-btn:hover {
	font-weight: bold;
	box-shadow: rgb(60 64 67 / 30%) 0px 0px 2px 0px,
		rgb(60 64 67 / 35%) 0px 0px 6px 2px;
	cursor: pointer;
}

.detailItem-about .modal-container {
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 2;
}
.detailItem-about .modal {
	background-color: #fff;
	width: 60rem;
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	margin-top: 2rem;
	animation: modal ease 1s;
}
.detailItem-about .modal-title {
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: space-between;
	padding: 1rem 1rem;
}
.detailItem-about .modal-title p,
.detailItem-about .modal-title i,
.detailItem-about .modal-title span {
	font-size: 1.8rem;
	font-weight: bold;
	color: #fff;
}
.detailItem-about .modal-title button {
	background: none;
	border: none;
}
.detailItem-about .modal-title button :hover {
	cursor: pointer;
}
.detailItem-about .modal .modal-main {
	padding: 0 1rem 1rem 1rem;
}
.detailItem-about .modal .modal-close-btn {
	background-color: #000;
	color: #fff;
	position: absolute;
	right: 1rem;
	margin-top: 20px;
	font-size: 1.8rem;
	font-weight: bold;
	display: block;
	border-radius: 10px;
	border: none;
	padding: 10px 10px;
}
.detailItem-about .modal-main-item {
	margin-top: 1rem;
}

@keyframes nextIcon {
	from {
		transform: translateX(10px);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes preIcon {
	from {
		transform: translateX(-10px);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes modal {
	from {
		transform: translateY(-100px);
		opacity: 0.5;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes navSameSide {
	from {
		transform: scale(10%);
	}
	to {
		transform: scale(100%);
	}
}
