.txt-white {
    color: white;
}

.glide__slide--active {
    z-index: 1;
}
body {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.landing-page > * {
    scroll-snap-align: start;
    max-height: calc(100vh - 6.2rem);
}
/* Hero */
.hero,
.hero .glide__slides {
    height: calc(100vh - 6.2rem);
    font-size: 1.5rem;
    position: relative;
    width: 100%;
}
.hero .glide__bullet {
    border: none;
    margin-left: 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 4rem;
    height: 1rem;
    box-shadow: 1px 1px 5px #888888;
}
.hero .glide__bullet--active {
    background-color: white;
}
.hero .glide__bullet:hover {
    border-radius: 5px;
    background-color: white;
}
.hero .glide__slide h1 {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: bold;
}
.hero .glide__slide p {
    margin-bottom: 1rem;
}
.hero .glide__arrow {
    padding: 1rem 1.345rem;
    opacity: 0;
    border: none;
    background-color: #c4c4c4;
    transition: all 0.2s ease-in-out 0.2s;
}
.glide__arrow--right {
    right: 5%;
}

.glide__arrow--left {
    left: 5%;
}
.glide__arrow:hover {
    background-color: black;
}

.hero:hover .glide__arrow {
    opacity: 1;
}
.hero .glide__arrow i {
    font-size: 1.5rem;
}

.hero .glide__arrow {
    border-radius: 50%;
}

.hero__center {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding-top: 3rem;
}

.hero__left {
    justify-content: left;
    padding: 0 3rem;
    flex: 0 0 50%;
}
.glide__slides .slide_1 {
    background: url("/image/landing_page/slide1/img1.jpg") no-repeat center /
        cover;
}
.glide__slides .slide_2 {
    background: url("/image/landing_page/slide1/img2.webp") no-repeat center /
        cover;
}
.glide__slides .slide_3 {
    background: url("/image/landing_page/slide1/img3.jpg") no-repeat center /
        cover;
}
.hero__btn {
    display: inline-block;
    font-weight: 700;
    font-size: 1.7rem;
    background-color: black;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.2rem 3.5rem;
    border: 2px solid black;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.hero__btn:focus {
    outline: none;
}

.hero__left .hero__btn:hover {
    font-weight: 700;
    background-color: transparent;
    color: black;
}

/* Spotlight and Discount*/

section {
    margin-top: 6rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-title {
    text-transform: capitalize;
    font-size: 3rem;
}

section .glide__nav {
    height: 2.7rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .glide__nav .title {
    cursor: pointer;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    z-index: 1;
    position: relative;
}
section .glide__nav .title::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: black;
    left: 50%;
    bottom: -5px;
    transition: all 0.25s ease-in-out;
    z-index: -1;
}

section .glide__nav .title:hover::after {
    width: 100%;
    left: 0;
}

section .glide__nav .glide__bullet--active::after {
    width: 100%;
    left: 0;
    height: 3px;
    background-color: black;
    bottom: -5px;
}

.spotlight {
    width: 75%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.grid-col-2-1-1 {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 1fr 1fr;
}
.grid-col-1-2-1 {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 2fr 1fr;
}
.grid-col-1-1-2 {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 2fr;
}
.grid-col-1-1 {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}
.grid-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}
.spotlight__item {
    background-color: #f5f5f5;
    width: 100%;
    overflow: hidden;
    border-radius: 2rem;
    position: relative;
}
.spotlight__item .name {
    font-weight: bold;
    font-size: 1.7rem;
    position: absolute;
    bottom: 7.5rem;
    right: 50%;
    transform: translate(50%, 0);
}
.spotlight__item img {
    height: 100%;
    width: 100%;
    transition: transform 0.25s, visibility 0.25s ease-in;
}
.spotlight__item:hover img {
    transform: scale(1.05);
}

.spotlight__item button {
    display: none;
    cursor: pointer;
    border: none;
    font-weight: 600;
    background-color: white;
    border-radius: 2rem;
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 1;
}
@keyframes buttonFlyin {
    from {
        transform: translate(50%, 1.5rem);
        opacity: 0.2;
    }
    to {
        transform: translate(50%, 0);
        opacity: 1;
    }
}
.spotlight__item:hover button {
    display: block;
    animation: buttonFlyin 0.25s ease-in;
}
.spotlight__item button::after {
    border-radius: 2rem;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: transform 0.25s, visibility 0.25s ease-in;
    transform: scaleX(0);
    transform-origin: top;
}
.spotlight__item button:hover::after {
    transform: scaleX(1);
}
