* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  display: block;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif; }

header {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500; }

.header-container {
  display: flex;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0rem; }

.header-logo a {
  color: yellow;
  text-transform: none;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 0 0 2px 5px yellow; }

.header-item > a {
  color: #fff;
  text-transform: none;
  text-decoration: none;
  font-size: 2rem;
  padding: 4px 16px;
  border-radius: 14px; }

.header-item > a:hover {
  border: 1px solid #fff; }

.logo-team {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  text-shadow: 0 0 2px 5px #fff; }

.team-num {
  color: yellow;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  border: 1px solid yellow; }

.header-input-container {
  position: relative; }

.header-input {
  border-radius: 0.2rem;
  border-radius: 1.2rem;
  border: none;
  font-size: 2rem; }

.header-search-icon {
  position: absolute;
  top: 0.4rem;
  right: 0.7rem;
  color: #000;
  font-size: 1.7rem; }

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 2rem 0; }

.container {
  margin-top: 10rem; }

.footer-icon {
  font-size: 4rem;
  padding: 2rem;
  color: #fff; }

.container-home {
  background: url("/image/background-iphone.jpeg") no-repeat top center/cover;
  height: 100rem; }

.product {
  margin-top: 10rem; }

.section {
  padding: 10rem 0 5rem 0; }

section {
  display: block; }

.product-layout {
  display: grid;
  grid-template-columns: 1.05fr 3fr;
  gap: 0 1rem; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

div {
  display: block; }

.col-1-of-4 {
  margin-bottom: 8rem; }

.col-1-of-4 .block-title {
  color: grey;
  margin-bottom: 1.6rem; }

.col-1-of-4 div {
  margin-bottom: 8rem; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit; }

.col-1-of-4 h3 {
  font-size: 2.7rem;
  font-weight: inherit; }

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; }

html {
  box-sizing: border-box; }

.col-3-of-4 {
  text-align: center; }

.col-3-of-4 .product-layout {
  grid-template-columns: repeat(3, 1fr); }

.section .product-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.6rem; }

.product {
  overflow: hidden; }

.product .img-container {
  position: relative;
  cursor: pointer; }

.product .img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.product .addCart {
  position: absolute;
  right: 0;
  bottom: 0.6rem;
  background-color: white;
  border-radius: 50%;
  padding: 1.3rem 1.6rem;
  transition: all 300ms ease-in-out; }

.product i {
  transition: all 300ms ease-in-out; }

.fa,
.fas {
  font-weight: 900; }

.fa,
.fab,
.fad,
.fal,
.fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-shopping-cart::before {
  content: "\f07a"; }

.product .side-icons {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translate(80%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 500ms ease-in-out; }

.product .side-icons span {
  font-size: 1.4rem;
  background-color: var(--white);
  margin: 0.3rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out; }
