html {
  background-color: rgb(233, 230, 230);
}
.container {
  margin-left: 10em;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 85%;

  /* background-color: teal; */
  justify-items: center;
}
.status_menu {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.status_menu a {
  font-size: 2rem;
  color: black;
  font-weight: 600;
  padding: 1.5rem;
}

.statusAll {
  display: flex;
  justify-content: center;
  background-color: black;
  /* padding: 1.5rem; */
  width: 33.33%;
  height: 100%;
}

.statusAll a {
  color: #fff;
}

.statusDelivering {
  display: flex;
  justify-content: center;
  background-color: white;
  /* padding: 1.5rem; */
  width: 33.33%;
  height: 100%;
}

.statusDelivered {
  display: flex;
  justify-content: center;
  background-color: white;
  /* padding: 1.5rem; */
  width: 33.33%;
  height: 100%;
}

.search {
  padding-top: 1rem;
  display: flex;
}

.searchTerm {
  border: 3px solid #868686;
  border-right: none;
  width: 100%;
}
.searchButton {
  width: 5rem;
  height: 5rem;
  border: solid #868686;
  background: #868686;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.products {
  margin-top: 1rem;
  padding: 2rem;
  background-color: white;
}
.brand_status {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.brand_status p {
  font-size: 1.5rem;
}

.name_price {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 1rem 0 1rem 0;
}
.img_name {
  display: flex;
  flex-direction: row;
}
.img_name img {
  width: 10rem;
  height: 10rem;
}
.name_num {
  padding-left: 1rem;
}
.name {
  font-size: 3rem;
}
.num {
  font-size: 2rem;
}

.single_product .price {
  display: flex;
  justify-content: flex-end;
  color: black;
}
.price_one_product {
  font-size: 1.3rem;
}
.price {
  font-size: 1.5rem;
  padding: 1rem 0 1rem 0;
}
/* action */
.action {
  display: flex;
  flex-direction: row;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.2s;
  background-color: #868686;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: black;
}
/* remove confirmation modal*/
.remove-modal {
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal-container {
  position: relative;
  min-height: 20rem;
  border-radius: 2rem;
  background-color: white;
  width: 40rem;
}
.modal__content {
  font-weight: bold;
  text-align: center;
  margin-top: 6rem;
  font-size: 2.5rem;
}
.modal__footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.modal__button--cancel {
  margin-left: 0.8rem;
}
