* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.icon::after {
}
@font-face {
	font-family: Lato;
	src: url("/font/LatoRegular.ttf");
}
@font-face {
	font-family: Lato;
	src: url("/font/LatoBold.ttf");
	font-weight: bold;
}
html {
	display: block;
	font-size: 62.5%;
	font-family: Lato, Helvetica, sans-serif;
	scroll-behavior: smooth;
}
a,
a:hover,
a:visited {
	text-decoration: none;
}
.spacer {
	aspect-ratio: 1000/100;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/* Header */
header {
	background-color: black;
	top: 0;
	right: 0;
	left: 0;
}
.header__spacer {
	aspect-ratio: 1000/50;
	background-image: url("/image/waveheader.svg");
}

.header-container {
	display: flex;
	color: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1rem;
}
.header__logo {
	display: flex;
	align-items: center;
}
.header__links > a,
.header__utility .icon {
	color: #fff;
	text-transform: none;
	font-size: 2.1rem;
	padding: 4px 16px;
}
.header__links > a {
	position: relative;
	z-index: 1;
}
.header__links > a::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 0.4rem;
	background-color: white;
	left: 50%;
	bottom: -1rem;
	transition: all 0.25s ease-in-out;
	z-index: -1;
	border-radius: 100vh;
}
.header__links > a:hover::after {
	width: 100%;
	left: 0;
}
.header__utility .icon:hover .regular,
.header__utility .fill-in {
	display: none;
}

.header__utility .icon:hover .fill-in {
	display: inline;
}

.header__utility {
	display: flex;
	align-items: center;
}
.searchbox {
	width: fit-content;
	height: fit-content;
	display: flex;
	position: relative;
}
.searchbox__submit:hover .far.fa-search,
.searchbox__submit .fas.fa-search {
	display: none;
}
.searchbox__submit:hover .fas.fa-search {
	display: inline;
}
.searchbox__input {
	height: 2.8rem;
	width: 0rem;
	border-style: none;
	font-size: 2rem;
	outline: none;
	border-radius: 100vh;
	transition: all 0.5s ease-in;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.8);
}
.searchbox__submit {
	height: 2.8rem;
	width: 2.8rem;
	border-style: none;
	font-size: 2rem;
	outline: none;
	border-radius: 100vh;
	transition: all 0.5s ease-in;
	background-color: transparent;
	color: #fff;
}

.searchbox__submit:focus ~ .searchbox__input {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid white;
	transition: all 0.25s ease-in-out;
}

.searchbox__input:focus {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid white;
	transition: all 0.25s ease-in-out;
}
/* Footer */
footer {
	background-color: #000;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 2.5rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"logo copyright"
		"social copyright";
}
.footer__spacer {
	background-image: url("/image/wavefooter.svg");
}
.footer__logo {
	justify-content: center;
	display: flex;
	grid-area: logo;
}
.footer__social {
	grid-area: social;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__social a + a {
	margin-left: 2rem;
}

.footer__social .icon {
	font-size: 4rem;
	color: rgba(255, 255, 255, 0.8);
}
.footer__copyright {
	display: flex;
	flex-direction: column;
	grid-area: copyright;
	font-size: 1.3rem;
	align-items: center;
	justify-content: center;
}
.footer__copyright img {
	margin-bottom: 1rem;
	width: 7rem;
}

/* Item */
.item-img {
	width: 100%;
}

.listitem {
	margin-top: 1rem;
	margin-top: 8rem;
}

.item {
	box-shadow: 0 0 11px 5px rgb(0 0 0 / 10%);
}

.item-des {
	padding: 2rem 2rem;
}

.item-name {
	font-size: 2rem;
}

.item-sub {
	font-size: 2rem;
	color: red;
	margin-top: 1rem;
}

.item-price {
	display: block;
	font-size: 2rem;
	margin-top: 1rem;
}
/* start css modal */
.invalid {
	border-bottom: 1px solid red !important;
}
.account-modal-container {
	font-size: 1.4rem;
}
.account-modal-container .error-message {
	color: red;
	font-size: 1.4rem;
	margin-top: 3px;
}
.account-modal-container .heading {
	font-size: 2rem;
	color: #fff;
	text-align: center;
}
.account-modal-container .modal-close-btn {
	background: transparent;
	padding: 0.5rem;
	color: #fff;
	border: none;
	margin-left: 95%;
	border-radius: 5px;
}
.account-modal-container .modal-close-btn:hover {
	box-shadow: inset 0 0 10px #ccc;
	cursor: pointer;
}
.account-modal-container form {
	min-width: 40rem;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 1.7rem 2px #fff;
	padding: 2rem;
	position: relative;
}
.account-modal-container i {
	color: #fff;
	font-size: 1.5rem;
}

.account-modal-container input {
	background: transparent;
	border: 0;
	outline: none;
	color: #fff;
	padding-left: 1rem;
	width: 80%;
}
.account-modal-container input::placeholder {
	color: #ccc;
}
.account-modal-container .submit-btn {
	width: 80%;
	border: 1px solid #ccc;
	background: transparent;
	color: #fff;
	border-radius: 2rem;
	font-size: 1.4rem;
	padding: 0.5rem 0rem;
	margin: 2rem auto 4rem 3rem;
}
.account-modal-container .submit-btn:hover {
	box-shadow: inset 0px 0px 10px #ccc;
	cursor: pointer;
}
.account-modal-container .form-row {
	margin-top: 2rem;
	border-bottom: 1px solid #ccc;
}
.account-modal-container .form-change-btn {
	background: transparent;
	border: none;
	color: #fff;
	padding: 0.5rem;
	border-radius: 2rem;
	margin-top: 2rem;
	position: absolute;
	right: 2rem;
	bottom: 2rem;
}
.account-modal-container .form-change-btn:hover {
	box-shadow: inset 0px 0px 5px #ccc;
	cursor: pointer;
}
.account-modal-container .form-change-btn::after {
	content: "\f061";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #fff;
}
.account-modal-container .cover-icon:hover {
	cursor: pointer;
}
/* login form */
.display-flex {
	display: flex !important;
}
.display-block {
	display: block !important;
}
.display-none {
	display: none !important;
}
.account-modal-container {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.2);
	justify-content: center;
	align-items: center;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
}

.account-modal {
	overflow-y: auto;
}
.account-modal .notify {
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
}
.account-modal-container .login-row input::placeholder {
	color: rgba(256, 256, 256, 0.5);
}

.account-modal-container .login-form .pw-forget {
	color: #fff;
	text-align: right;
	font: 1.4rem;
	padding-top: 2rem;
	display: inline-block;
	margin-left: 70%;
}
.account-modal-container .login-form .pw-forget:hover {
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

/* login form */
/* start signUp-form */
.account-modal-container .signUp-form {
	display: none;
}
.account-modal-container .signUp-form-confirm {
	display: none;
}
.account-modal-container .signUp-form .account-row {
	display: grid;
	grid-template-columns: 1fr 20fr;
}

.account-modal-container .signUp-form .account-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
}
.account-modal-container .signUp-form .account-info input {
	background: transparent;
	border: 0;
	outline: none;
	color: #fff;
	width: 85%;
	padding-left: 1rem;
}

/*end Sign-Up form  */
/* start find-account-form */
.account-modal-container .find-account-form {
	display: none;
}
.account-modal-container .find-account-form-change {
	display: none;
}
.account-modal-container .find-account-form .get-code-btn {
	background-color: transparent;
	border-radius: 1rem;
	font-size: 1.4rem;
	padding: 0.2rem 0.5rem;
	color: #fff;
	border: 1px solid #ccc;
	margin-bottom: 1px;
}
.account-modal-container .find-account-form .get-code-btn:hover {
	cursor: pointer;
	box-shadow: inset 0 0 5px #ccc;
}
.account-modal-container .find-account-form #recovery-email {
	width: 75%;
}
/* end find-account-form */

/* end css modal  */

/* start account option */
header .account {
	display: relative;
}
header .account:hover {
	cursor: pointer;
}
header .account__options {
	position: absolute;
	z-index: 2;
	width: 30rem;
	top: 40px;
	right: 10px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 5rem rgba(0, 0, 0, 0.2);
	padding: 0.8rem;
	display: none;
}
header .account__options li {
	list-style-type: none;
	padding: 0.8rem;
	border-radius: 2rem;
}
header .account__options li:hover {
	background: rgba(242, 242, 242);
}
header .account__options li:hover .icon__foot__container {
	-webkit-text-stroke: 1px rgba(242, 242, 242);
}
header .account__options hr {
	border-bottom: 1px solid #ccc;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
header .account__options li .icon__head__container {
	background: rgba(228, 230, 235);
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .account__options li .icon__foot__container {
	height: 4rem;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-text-stroke: 1px white;
}
header .account__options li a {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-column-gap: 1rem;
	color: #000;
}
header .account__options li a p {
	line-height: 2rem;
	line-height: 40px;
	font-size: 18px;
}
header .account__options li:first-child {
	display: block;
	text-align: center;
}
header .account__options li:first-child:hover {
	background-color: #fff;
	cursor: default;
}
header .account__options li:first-child h2 {
	color: #000;
	font-size: 2rem;
}

/*end account option */
