<div class="footer-container">
    <h2>FOOTER</h2>
    <div class="footer-icon-container">
        <i class="fab fa-facebook-square footer-icon"></i>
        <i class="fab fa-twitter-square footer-icon"></i>
        <i class="fab fa-instagram-square footer-icon"></i>
    </div>
</div>