<div class='header-container'>
  {{! 
  <div class="header-logo">
    <a href="/">
      <p class="logo-team"><span class="team-num">13</span>Team</p>
    </a>
  </div>
  
  }}
  <a href='/' class='header__logo'>
    <svg
      width='150'
      viewBox='0 0 320 65'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M19.9509 0L0
        55H10.0289L29.0713 0H19.9509ZM34.415 0L14.4641 55H24.493L43.5354
        0H34.415ZM28.9282 55L48.8791 0H57.9995L38.9571 55H28.9282Z'
        fill='url(#paint0_linear_120:2401)'
      ></path>
      <path
        d='M84.05 48.925V54H63.7V48.925H70.9V29.075C70.9 28.6417
        70.9083 28.2 70.925 27.75C70.9417 27.3 70.9667 26.8417 71
        26.375L66.25 30.325C65.9167 30.575 65.5917 30.7333 65.275
        30.8C64.9583 30.8667 64.6583 30.875 64.375 30.825C64.0917
        30.7583 63.8417 30.6583 63.625 30.525C63.4083 30.375 63.2417
        30.225 63.125 30.075L60.95 27.15L72.1
        17.7H77.775V48.925H84.05ZM89.4789 27.95C89.7456 26.1833 90.2456
        24.6333 90.9789 23.3C91.7122 21.9667 92.6289 20.8583 93.7289
        19.975C94.8289 19.0917 96.0789 18.4333 97.4789 18C98.8956 17.55
        100.421 17.325 102.054 17.325C103.787 17.325 105.337 17.575
        106.704 18.075C108.087 18.5583 109.254 19.225 110.204
        20.075C111.154 20.925 111.879 21.9167 112.379 23.05C112.896
        24.1833 113.154 25.4 113.154 26.7C113.154 27.85 113.029 28.8667
        112.779 29.75C112.546 30.6167 112.187 31.375 111.704
        32.025C111.237 32.675 110.654 33.225 109.954 33.675C109.271
        34.125 108.479 34.5 107.579 34.8C111.746 36.1667 113.829 38.9417
        113.829 43.125C113.829 44.975 113.487 46.6083 112.804
        48.025C112.121 49.425 111.204 50.6 110.054 51.55C108.904 52.5
        107.562 53.2167 106.029 53.7C104.512 54.1667 102.921 54.4
        101.254 54.4C99.4872 54.4 97.9289 54.2 96.5789 53.8C95.2289 53.4
        94.0372 52.8 93.0039 52C91.9872 51.2 91.1122 50.2 90.3789
        49C89.6456 47.7833 89.0039 46.3667 88.4539 44.75L91.5039
        43.5C92.3039 43.1667 93.0456 43.075 93.7289 43.225C94.4289
        43.375 94.9289 43.7417 95.2289 44.325C95.5622 44.9583 95.9122
        45.5417 96.2789 46.075C96.6622 46.6083 97.0872 47.075 97.5539
        47.475C98.0206 47.8583 98.5456 48.1583 99.1289 48.375C99.7289
        48.5917 100.412 48.7 101.179 48.7C102.146 48.7 102.987 48.5417
        103.704 48.225C104.421 47.9083 105.021 47.5 105.504 47C105.987
        46.4833 106.346 45.9083 106.579 45.275C106.829 44.625 106.954
        43.9833 106.954 43.35C106.954 42.5167 106.879 41.7667 106.729
        41.1C106.579 40.4167 106.229 39.8417 105.679 39.375C105.146
        38.8917 104.346 38.525 103.279 38.275C102.229 38.0083 100.796
        37.875 98.9789 37.875V33.025C100.496 33.025 101.737 32.9 102.704
        32.65C103.671 32.4 104.429 32.05 104.979 31.6C105.529 31.15
        105.904 30.6083 106.104 29.975C106.321 29.3417 106.429 28.65
        106.429 27.9C106.429 26.3167 106.012 25.1083 105.179
        24.275C104.362 23.4417 103.196 23.025 101.679 23.025C101.012
        23.025 100.396 23.125 99.8289 23.325C99.2789 23.5083 98.7789
        23.7667 98.3289 24.1C97.8956 24.4333 97.5206 24.825 97.2039
        25.275C96.8872 25.725 96.6539 26.2167 96.5039 26.75C96.1872
        27.5833 95.7789 28.1417 95.2789 28.425C94.7789 28.6917 94.0539
        28.75 93.1039 28.6L89.4789 27.95ZM145.483
        23.775H134.883V54H127.358V23.775H116.758V17.725H145.483V23.775ZM159.427
        38.075C159.427 37.3583 159.327 36.675 159.127 36.025C158.943
        35.375 158.643 34.8 158.227 34.3C157.81 33.8 157.285 33.4083
        156.652 33.125C156.018 32.825 155.26 32.675 154.377
        32.675C152.727 32.675 151.435 33.1417 150.502 34.075C149.568
        35.0083 148.96 36.3417 148.677 38.075H159.427ZM148.577
        42.175C148.793 44.5917 149.477 46.3583 150.627 47.475C151.793
        48.5917 153.31 49.15 155.177 49.15C156.127 49.15 156.943 49.0417
        157.627 48.825C158.327 48.5917 158.935 48.3417 159.452
        48.075C159.985 47.7917 160.46 47.5417 160.877 47.325C161.31
        47.0917 161.735 46.975 162.152 46.975C162.685 46.975 163.102
        47.175 163.402 47.575L165.402 50.075C164.668 50.925 163.86
        51.6333 162.977 52.2C162.093 52.75 161.177 53.1917 160.227
        53.525C159.277 53.8417 158.318 54.0583 157.352 54.175C156.385
        54.3083 155.452 54.375 154.552 54.375C152.752 54.375 151.068
        54.0833 149.502 53.5C147.952 52.9 146.593 52.025 145.427
        50.875C144.277 49.7083 143.368 48.2667 142.702 46.55C142.035
        44.8333 141.702 42.8417 141.702 40.575C141.702 38.825 141.985
        37.175 142.552 35.625C143.135 34.075 143.968 32.725 145.052
        31.575C146.135 30.425 147.452 29.5167 149.002 28.85C150.552
        28.1667 152.302 27.825 154.252 27.825C155.902 27.825 157.418
        28.0917 158.802 28.625C160.202 29.1417 161.402 29.9 162.402
        30.9C163.418 31.9 164.202 33.1333 164.752 34.6C165.318 36.05
        165.602 37.7083 165.602 39.575C165.602 40.0917 165.577 40.5167
        165.527 40.85C165.477 41.1833 165.393 41.45 165.277 41.65C165.16
        41.85 165.002 41.9917 164.802 42.075C164.602 42.1417 164.343
        42.175 164.027 42.175H148.577ZM183.358 43.225C181.675 43.3083
        180.275 43.4583 179.158 43.675C178.042 43.875 177.15 44.1417
        176.483 44.475C175.833 44.8083 175.367 45.1917 175.083
        45.625C174.817 46.0417 174.683 46.5 174.683 47C174.683 48
        174.958 48.7083 175.508 49.125C176.075 49.5417 176.858 49.75
        177.858 49.75C179.008 49.75 180 49.55 180.833 49.15C181.683
        48.7333 182.525 48.0917 183.358 47.225V43.225ZM169.308
        31.8C170.825 30.4333 172.5 29.4167 174.333 28.75C176.167 28.0667
        178.15 27.725 180.283 27.725C181.817 27.725 183.183 27.975
        184.383 28.475C185.6 28.975 186.625 29.675 187.458
        30.575C188.308 31.4583 188.958 32.5167 189.408 33.75C189.858
        34.9833 190.083 36.3333 190.083 37.8V54H186.933C186.283 54
        185.783 53.9083 185.433 53.725C185.1 53.5417 184.825 53.1583
        184.608 52.575L184.058 50.925C183.408 51.4917 182.775 51.9917
        182.158 52.425C181.558 52.8583 180.933 53.225 180.283
        53.525C179.633 53.8083 178.933 54.025 178.183 54.175C177.45
        54.325 176.625 54.4 175.708 54.4C174.575 54.4 173.542 54.25
        172.608 53.95C171.675 53.65 170.867 53.2083 170.183
        52.625C169.517 52.025 169 51.2833 168.633 50.4C168.267 49.5167
        168.083 48.5 168.083 47.35C168.083 46.4 168.325 45.45 168.808
        44.5C169.292 43.55 170.117 42.6917 171.283 41.925C172.467
        41.1417 174.033 40.5 175.983 40C177.95 39.4833 180.408 39.1917
        183.358 39.125V37.8C183.358 36.1833 183.017 35 182.333
        34.25C181.65 33.4833 180.667 33.1 179.383 33.1C178.433 33.1
        177.642 33.2167 177.008 33.45C176.375 33.6667 175.817 33.9083
        175.333 34.175C174.867 34.425 174.425 34.6667 174.008
        34.9C173.592 35.1167 173.108 35.225 172.558 35.225C172.075
        35.225 171.667 35.1083 171.333 34.875C171.017 34.625 170.75
        34.3333 170.533 34L169.308 31.8ZM195.469
        54V28.225H199.719C200.586 28.225 201.161 28.625 201.444
        29.425L201.844 31.1C202.294 30.6333 202.752 30.2 203.219
        29.8C203.702 29.4 204.219 29.0583 204.769 28.775C205.319 28.475
        205.911 28.2417 206.544 28.075C207.194 27.9083 207.894 27.825
        208.644 27.825C210.227 27.825 211.536 28.25 212.569 29.1C213.602
        29.9333 214.386 31.05 214.919 32.45C215.336 31.6333 215.844
        30.9333 216.444 30.35C217.061 29.75 217.727 29.2667 218.444
        28.9C219.177 28.5333 219.944 28.2667 220.744 28.1C221.561
        27.9167 222.377 27.825 223.194 27.825C224.644 27.825 225.927
        28.0417 227.044 28.475C228.161 28.9083 229.094 29.55 229.844
        30.4C230.611 31.2333 231.194 32.2583 231.594 33.475C231.994
        34.6917 232.194 36.075 232.194 37.625V54H225.294V37.625C225.294
        34.6083 224.002 33.1 221.419 33.1C220.836 33.1 220.294 33.2
        219.794 33.4C219.311 33.5833 218.877 33.8667 218.494
        34.25C218.127 34.6333 217.836 35.1083 217.619 35.675C217.419
        36.2417 217.319 36.8917 217.319 37.625V54H210.419V37.625C210.419
        35.9917 210.094 34.8333 209.444 34.15C208.811 33.45 207.869 33.1
        206.619 33.1C205.819 33.1 205.061 33.2917 204.344 33.675C203.644
        34.0417 202.986 34.5583 202.369 35.225V54H195.469Z'
        fill='white'
      ></path>
      <defs>
        <linearGradient
          id='paint0_linear_120:2401'
          x1='8.41258'
          y1='27.2378'
          x2='72.909'
          y2='27.2378'
          gradientUnits='userSpaceOnUse'
        >
          <stop stop-color='white'></stop>
          <stop offset='1' stop-color='white' stop-opacity='0'></stop>
        </linearGradient>
      </defs>
    </svg>
  </a>

  <div class='header__links'>
    <a href='/phone'>
      Điện Thoại
    </a>
    <a href='/'>
      Laptop
    </a>
    <a href='/'>
      Tablet
    </a>
    <a href='/'>
      Phụ Kiện
    </a>

  </div>

  <div class='header__utility'>
    <div class='searchbox'>
      <button class='searchbox__submit'><i
          class='fas fa-search search-icon'
        ></i>
      </button>
      <input
        class='searchbox__input'
        type='text'
        name='search'
        placeholder='Tìm kiếm'
      />
    </div>

    <a href='' class='icon'>
      <i class='far fa-heart regular'></i>
      <i class='fas fa-heart fill-in'></i>
    </a>
    <a href='' class='icon'>
      <i class='far fa-shopping-bag regular'></i>
      <i class='fas fa-shopping-bag fill-in'></i>
    </a>
    <a href='' class='icon'>
      <i class='far fa-user-alt regular'></i>
      <i class='fas fa-user-alt fill-in'></i>
    </a>

  </div>
</div>