<div class="header-container">
    <div class="header-logo">
        <a href="/">
            <p class="logo-team"><span class="team-num">13</span>Team</p>
        </a>

    </div>

    <div class="header-item">
        <a href="/phone">
            <i class="fas fa-mobile"></i>
            <span>Điện Thoại</span>
        </a>

    </div>

    <div class="header-item">
        <a href="">
            <i class="fas fa-laptop"></i>
            <span>Laptop</span>
        </a>

    </div>

    <div class="header-item">
        <a href="">
            <i class="fas fa-tablet"></i>
            <span>Tablet</span>
        </a>

    </div>

    <div class="header-item">
        <a href="">
            <i class="fas fa-headphones-alt"></i>
            <span>Phụ Kiện</span>
        </a>
    </div>
    <div class="header-input-container">
        <a href="">
            <input type="text" class="header-input" />
            <i class="fas fa-search header-search-icon"></i>
        </a>

    </div>
    <div class="header-item">
        <a href="">
            <i class="fas fa-heart"></i>
        </a>

    </div>
    <div class="header-item">
        <a href="">
            <i class="fas fa-shopping-bag"></i>
        </a>
    </div>
    <div class="header-item">
        <a href="">
            <i class="fas fa-user-alt"></i>
        </a>

    </div>
</div>