<link rel="stylesheet" href="css/checkout.css">
<section class="checkout-page">
  <aside class="box cart-container">
    <h2 class="box__heading">
      <span>1</span>
      giỏ hàng
    </h2>
    <div class="basket">

    </div>
    <div class="total">

    </div>
  </aside>
  <div class="box delivery-info">
    <h2 class="box__heading">
      <span>2</span>
      thông tin
    </h2>
  </div>
</section>