<div class="grid width">
    <div class="listitem row">
        {{#each items}}
        <div class="item col-3">
            <img src="/image/phonex.jpg" alt="Anh iphonex" class="item-img">
            <div class="item-des">
                <h2>{{this.description}}</h2>
                <p>{{this.price}}</p>
            </div>
        </div>
        {{/each}}


        

       

    </div>


    
</div>