<div class="products-layout container">
  <div class="col-1-of-4">
    <div>
      <div class="block-title">
        <h3>Thể loại</h3>
      </div>
      <ul class="block-content">
        <li>
          <input type="checkbox" name="id">
          <label for="">
            <span>Apple</span>
            <small>(12)</small>
          </label>
        </li>
        <li>
          <input type="checkbox" name="id">
          <label for="">
            <span>SamSung</span>
            <small>(33)</small>
          </label>
        </li>
      </ul>
    </div>
    <div>
      <div class="block-title">
        <h3>Mức giá</h3>

      </div>
      <ul class="block-content">
        <li>
          <input type="checkbox" name="id">
          <label for="">
            <span>Trên 30 triệu</span>
            <small>(10)</small>
          </label>
        </li>
        <li>
          <input type="checkbox" name="" id="">
          <label for="">
            <span>Từ 20 đến 30 triệu</span>
            <small>(55)</small>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-3-of4">
    <div class="product-layout">
      <div class="product">
        <div class="img-container">
          <img src="./image/cutedog.jpg" alt="">
          <div class="addCart">
            <i class="fas fa-shopping-cart">
            </i>
          </div>
          <ul class="side-icon">
            <span > <i class="fas fa-search"></i></span>
            <span > <i class="fas fa-heart"></i></span>
            <span > <i class="fas fa-sliders-h"></i></span>
          </ul>
        </div>
        <div class="bottom">
          <a href="#"  >Iphone 13 Pro Max</a>
          <div class="price">
            <span>$999</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
