<link rel="stylesheet" href="/css/purchase.css" />

<section class="container"> {{!_1QwuCJ }} 
    <div class="status_menu">
        <a href="/purchase?status=all">Tất cả</a>
        <a href="/purchase?status=delivering">Đang giao  </a>
        <a href="/purchase?status=delivered">Đã giao</a>
    </div>
    
    <div class="search">
        <input type="text" class="searchTerm" placeholder=" Tìm kiếm lịch sử mua hàng theo tên, thương hiệu... của sản phẩm ">
        <button type="submit" class="searchButton" >
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="products">
        <div class="single_product">
            <div class="info">
                <div class="brand_status">
                    <div class="brand">
                        <p>Thương hiệu: Apple | Ngày mua: 2021-11-21</p>
                    </div>
                    <div class="status">
                        <p>Trạng thái: Đã giao</p>
                    </div>
                   
                </div>
                <hr>
                <a href="/phone/iphone11-256GB" class="name_price">
                    <div class="img_name">
                        <img src="/image/iphone/iphone11/iphone11_black.jpg" alt="">
                        <div class="name_num">
                            <p class="name">iphone 11 promax</p>
                            <p class="num">x2</p>
                            
                        </div>
                    </div>

                    <div class="price_one_product">
                        <p><strong>26.000.000 đ</strong> </p>
                    </div>
                </a>
                <hr>
            </div>
            <div class="price">
                <p>Tổng số tiền: <strong>52.000.000 đ</strong></p>
            </div>
            
            <div class="action">
                <button class="btn btn_repurchase">Mua lại</button>
                <button class="btn btn_delete">Xóa</button>
            </div>
        </div>

    </div>
    <div class="products">
   <div class="single_product">
            <div class="info">
                <div class="brand_status">
                    <div class="brand">
                        <p>Thương hiệu: Samsung | Ngày mua: 2021-11-21</p>
                       
                    </div>
                    
                    <div class="status">
                        <p>Trạng thái: Đang giao</p>
                    </div>
                    
                </div>
                <hr>
                <a href="/samsung/galaxya72-256GB" class="name_price">
                    <div class="img_name">
                        <img src="/image/samsung/galaxya72/galaxya72_black.jpg" alt="">
                        <div class="name_num">
                            <p class="name">Samsung Galaxy A72</p>
                            <p class="num">x1</p>
                            
                        </div>
                    </div>

                    <div class="price_one_product">
                        <p><strong>15.000.000 đ</strong> </p>
                    </div>
                </a>
                <hr>
            </div>
            <div class="price">
                <p>Tổng số tiền: <strong>15.000.000 đ</strong></p>
            </div>
            
            <div class="action">
                <button class="btn btn_repurchase">Mua lại</button>
                <button class="btn btn_delete">Xóa</button>
            </div>
        </div>

    </div>
</section>