<link rel="stylesheet" href="/css/purchase.css" />

<section class="container"> {{!_1QwuCJ }}
    <div class="status_menu">
        <div class="statusAll" id="btnAll">
            <a id="tagaAll">Tất cả</a>
        </div>
        <div class="statusDelivering" id="btnDelivering">
            <a id="tagaDelivering">Đang giao </a>

        </div>
        <div class="statusDelivered" id="btnDelivered">
            <a id="tagaDelivered">Đã giao</a>

        </div>
    </div>

    <div class="search">
        <input type="text" class="searchTerm" id="searchBoxPurchase"
            placeholder=" Tìm kiếm lịch sử mua hàng theo tên, thương hiệu... của sản phẩm ">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>

    <p id="listProduct"></p>
</section>
<script src="js/purchase.js"></script>