<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href ="/css/grid.css">
        <link rel="stylesheet" href="/font-icon/font/css/all.css">
        
        <title>13 Team</title>
        
    </head>
    <body>
        <div class="app">
            <header>
                {{>header}}
            </header>
            <div class="container grid">
                {{{body}}}
            </div>
            <footer>
                {{>footer}}
            </footer>
        </div>
    </body>
</html>