<div class="header-container">
	{{!
	<div class="header-logo">
		<a href="/">
			<p class="logo-team"><span class="team-num">13</span>Team</p>
		</a>
	</div>

	}}
	<a href="/" class="header__logo">
		<img src="/image/logo.svg" alt="13Team Logo">
	</a>

	<div class="header__links">
		<a href="/phone" id="phone">
			Điện Thoại
		</a>
		<a href="/laptop" id="laptop">
			Laptop
		</a>
		<a href="/tablet" id="tablet">
			Tablet
		</a>
		<a href="/accessory" id="accessory">
			Phụ Kiện
		</a>

	</div>

	<div class="header__utility">
		<div class="searchbox icon">
			<button class="searchbox__submit">
				<i class="far fa-search"></i>
				<i class="fas fa-search"></i>
			</button>
			<input id="searchBox" class="searchbox__input" type="text" name="search" placeholder="Tìm kiếm" />
		</div>

		<a href="javascript:checkoutIco()" class="icon checkoutIco">
			<i class="far fa-shopping-bag"></i>
		</a href="">
		<div class="icon account" login="false" id="">
			<i class="far fa-user-alt"></i>
			<ul class="account__options">
				<li>
					<h2></h2>
				</li>
				<hr>
				<li>
					<a href="/user/info">
						<div class="icon__head__container">
							<i class="fas fa-cog"></i>
						</div>
						<p>Cập Nhật Thông Tin</p>
						<div class="icon__foot__container">
							<i class="fas fa-chevron-right"></i>
						</div>
					</a>
				</li>
				<li>
					<a href="/purchase">
						<div class="icon__head__container">
							<i class="fas fa-history"></i>
						</div>
						<p>Lịch Sử Mua Hàng</p>
						<div class="icon__foot__container">
							<i class="fas fa-chevron-right"></i>
						</div>
					</a>
				</li>

				<li id="signOut">
					<a href="/">
						<div class="icon__head__container">
							<i class="fas fa-sign-out-alt"></i>
						</div>
						<p>Đăng Xuất</p>
						<div class="icon__foot__container display-none">
							<i class="fas fa-chevron-right"></i>
						</div>
					</a>
				</li>

			</ul>

		</div>


	</div>

</div>
<script src="/js/header.js"></script>