<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/image/13team.ico" type="image/x-icon">
  <link rel="icon" href="/image/13team.ico" type="image/x-icon">
  {{!-- Fonts Awsome --}}
  <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet"
    type="text/css" />

  {{!-- Style --}}

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/grid.css">

  <title>13 Team</title>
</head>

<body>
  <div class="app">

    <header>
      {{>header}}
    </header>
    <div class="spacer header__spacer"></div>
    <div class="container grid">
      {{{body}}}
    </div>
    {{#unless error}}
    <div class="spacer footer__spacer"></div>
    <footer>
      {{>footer}}
    </footer>
    {{/unless}}
    {{! start modal }}
    <div class="account-modal-container">
      <div class="account-modal">
        {{!-- login form --}}
        <form class="login-form" action="/ahihi" onsubmit="false">
          <button class="modal-close-btn">
            <i class="fas fa-times"></i>
          </button>
          <h2 class="heading">Đăng Nhập</h2>
          <div class="form-group">
            <div class="form-row">
              <i class="fas fa-envelope"></i>
              <input name="email" id="login-mail" type="text" placeholder="Nhập Email" />
            </div>
            <p class="error-message"></p>
          </div>

          <div class="form-group">
            <div class="form-row">
              <i class="fas fa-key"></i>
              <input name="password" id="login-password" type="password" placeholder="Mật Khẩu" />
              <i class="fas fa-eye-slash cover-icon"></i>
            </div>
            <p class="error-message"></p>

          </div>

          <p class="pw-forget forward-FindAccount">Quên mật khẩu ?</p>
          <input type="submit" class="login-submit submit-btn" value="Đăng Nhập" />
          <button class="form-change-btn forward-SignUp">Đăng kí </button>
        </form>
        {{!-- end login form --}}
        {{!-- signup form --}}
        <form class="signUp-form" action="/ahihi" onsubmit="false">
          <button class="modal-close-btn">
            <i class="fas fa-times"></i>
          </button>
          <h2 class="heading">Đăng Kí</h2>
          <p class="notify display-none"></p>
          <div class="signUp-info ">
            <div class="form-group">
              <div class="form-row ">
                <i class="fas fa-user-alt"></i>
                <input name="name" type="text" id="signUp-fullname" placeholder="Họ Và Tên" />
              </div>
              <p class="error-message"></p>
            </div>
            <div class="form-group">
              <div class="form-row">
                <i class="fas fa-mobile-alt"></i>
                <input name="phone" type="text" id="signUp-phone" placeholder="Số Điện Thoại" />
              </div>
              <p class="error-message"></p>
            </div>
            <div class="form-group">
              <div class="form-row">
                <i class="fas fa-envelope"></i>
                <input name="email" type="text" id="signUp-email" placeholder="Email" />
              </div>
              <p class="error-message"></p>
            </div>
            <div class="form-group">
              <div class="form-row">
                <i class="fas fa-key"></i>
                <input name="password" type="password" id="signUp-password" placeholder="Mật Khẩu" />
                <i class="fas fa-eye-slash cover-icon"></i>
              </div>
              <p class="error-message"></p>
            </div>
            <div class="form-group">
              <div class="form-row">
                <i class="fas fa-key"></i>
                <input name="confirmPassword" id="signUp-confirmPassword" type="password"
                  placeholder="Xác nhận mật Khẩu" />
                <i class="fas fa-eye-slash cover-icon"></i>
              </div>
              <p class="error-message"></p>
            </div>
            <input type="submit" class="login-submit submit-btn" value="Đăng Kí" />
          </div>
          <button class="icon form-change-btn forward-login">Quay Lại Đăng Nhập </button>
        </form>
        {{!-- ahihi --}}
        <form class="signUp-form-confirm">
          <button class="modal-close-btn">
            <i class="fas fa-times"></i>
          </button>
          <h2 class="heading">Đăng Kí</h2>
          <p class="notify display-none"></p>
          <div class="signUp-confirm">
            <div>
              <div class="form-row">
                <input name="code" type="code" id="signUp-code" placeholder="Nhập mã xác thực" />
              </div>
              <p class="error-message"></p>
            </div>

            <input type="submit" class="signUp-confirm-submit submit-btn" value="Xác Nhận" />
          </div>

          <button class="icon form-change-btn forward-login">Quay Lại Đăng Nhập </button>
        </form>
        {{!-- end signup form --}}
        {{!-- find account --}}
        <form class="find-account-form" action="#" onsubmit="false">
          <button class="modal-close-btn">
            <i class="fas fa-times"></i>
          </button>
          <h2 class="heading">Khôi Phục Tài Khoản</h2>


          <div class="verify-email">
            <div class="form-group">
              <div class="form-row">
                <i class="fas fa-envelope"></i>
                <input name="email" id="recovery-email" type="text" placeholder="Nhập Email" />
                <button class="get-code-btn">Lấy Mã</button>
              </div>
              <p class="error-message"></p>
            </div>

            <div class="form-group">
              <div class="form-row">
                <input name="code" id="recovery-code" type="code" placeholder="Nhập mã xác thực" />
              </div>
              <p class="error-message"></p>
            </div>
          </div>
          <input type="submit" class="login-submit submit-btn" value="Xác Nhận" />

          <button class="icon form-change-btn forward-login">Quay Lại Đăng Nhập </button>

        </form>
        {{!-- --}}
        <form class="find-account-form-change" action="#" onsubmit="false">
          <button class="modal-close-btn">
            <i class="fas fa-times"></i>
          </button>
          <h2 class="heading">Khôi Phục Tài Khoản</h2>
          <div class="change-password">
            <div class="form-group">
              <div class="form-row ">
                <i class="fas fa-key"></i>
                <input name="password" id="recovery-password" type="password" placeholder="Mật Khẩu Mới" />
                <i class="fas fa-eye-slash cover-icon"></i>
              </div>
              <p class="error-message"></p>
            </div>

            <div class="form-group">
              <div class="form-row">
                <i class="fas fa-key"></i>
                <input name="confirmPassword" id="recovery-confirmPassword" type="password"
                  placeholder="Xác nhận mật Khẩu" />
                <i class="fas fa-eye-slash cover-icon"></i>
              </div>
              <p class="error-message"></p>
            </div>
            <input type="submit" class="login-submit submit-btn" value="Khôi Phục" />
          </div>
          <button class="icon form-change-btn forward-login">Quay Lại Đăng Nhập </button>

        </form>
        {{!-- end findaccount --}}
      </div>
    </div>
    <div id="toast">
    </div>
    <script src="/js/validator.js"></script>
    <script src="/js/HeFo.js">
    </script>
    {{! end modal }}
    
    </div>
   
  </div>
<script src="/js/search.js" defer></script>
  
</body>

</html>